<img src="http://www.tiesuohh.com.cn/sx/front/assert/image/ts/register/logo.png"/><br/>
${agenter}，您好，由你们单位的用户${uname}，审核过的这个<font color="red">【${address}】</font>房源需要进行交换审批！
请登录系统进行审批!
<br/>
此消息来着<a href="http://www.tiesuohh.com.cn" target="_blank">铁锁互换</a>！ 