<img src="http://www.tiesuohh.com.cn/sx/front/assert/image/ts/register/logo.png"/><br/>
您好，由【铁锁加盟商】${pkagenter}的用户在【${applydate}】,
发出申请要求将他/她的房源【${pkaddress}】在${startdate}至${enddate}时间内与【${needaddress}】进行交换。
目前该【${needaddress}】已经由铁锁加盟商【${needagenter}】审核通过，请关注！
<br/>
此消息来着<a href="http://www.tiesuohh.com.cn" target="_blank">铁锁互换</a>！ 